{% extends 'base/base.html' %}
{% load crispy_forms_filters %}
{% load snfilters %}

{% block style %}body {
background-color: #9de2ff;
}{% endblock %}

{% block content %}

<div class="row justify-content-center mt-5">
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card shadow-lg border-0 rounded-4">
      <div class="card-body">
        {% if post.image %}
        <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
        {% endif %}
        <h3 class="card-title text-primary fw-bold">{{ post.author }}</h3>
        <h5 class="card-subtitle mb-2 text-secondary">{{ post.title }}</h5>
        <p class="card-text">{{ post.text }}</p>
        <form action="{% url 'sn:like' post.id %}" method="post">
          {% csrf_token %}
          {% if post|like_check:request.user %}
          <a href="{% url 'sn:like' post.id %}">
            <i class="fa-solid fa-thumbs-up"></i>
          </a>
          {% else %}
          <a href="{% url 'sn:like' post.id %}">
            <i class="fa-regular fa-thumbs-up"></i>
          </a>
          {% endif %}
        </form>
        <form action="{% url 'sn:like' post.id %}" method="post">
          {% csrf_token %}
          {% if post|disslike_check:request.user %}
          <a href="{% url 'sn:diss_like' post.id %}">
            <i class="fa-solid fa-thumbs-down"></i>
          </a>
          {% else %}
          <a href="{% url 'sn:diss_like' post.id %}">
            <i class="fa-regular fa-thumbs-down"></i>
          </a>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
</div>

<p></p>

<div class="mb">
  <div class="d-flex justify-content-center">
    <div class="card" style="width: 39rem;">
      <div class="card-body">
        <form action="{% url 'sn:comment' post.id %}" method="post">
          <textarea class="form-control" name="comment_text"></textarea>
          {% csrf_token %}
          <p></p>
          <button class="btn btn-primary flex-grow-1 me-1" type="submit">submit</button>
        </form>
      </div>
    </div>
  </div>
  <p></p>
  <div class="d-flex justify-content-center">
    <div class="card" style="width: 39rem;">
      <div class="card-body">
        {% for comment in comments %}
        <h5 class="card-title">{{ comment.comment_maker }}</h5>
        <p class="card-text">{{ comment.text }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}