{% extends 'base/base.html' %}

{% block style %}body {
background-color: #9de2ff;
{% load crispy_forms_filters %}
}{% endblock %}

{% block content %}

<form method="get">
    <div class="row justify-content-center">
        <div class="col-3">
            {{form|crispy}}
            <button class="btn btn-primary flex-grow-1 me-1" type="submit">submit</button>
        </div>
    </div>
</form>


<div class="row justify-content-center mt-5 g-4">
  {% for post in posts %}
     <div class="col-12 col-md-6 col-lg-4">
        <div class="card h-100 shadow-sm border-0">
          <div class="card-body">
            <h3 class="card-title fw-bold">{{ post.author }}</h3>
            <h5 class="card-subtitle mb-2 text-muted">{{ post.title }}</h5>
            <p class="card-text">{{ post.text }}</p>
          </div>
       </div>
     </div>
  {% endfor %}
</div>





{% endblock %}