{% extends 'base/base.html' %}

{% block style %}body {
background-color: #9de2ff;
{% load crispy_forms_filters %}
}{% endblock %}

{% block content %}

<div class="card shadow-sm p-3 mb-4 bg-white rounded" style="margin-top:20px;">
  <div class="card-body">
    <form method="get" class="mb-3">
      <div class="row g-2 align-items-end">
        <div class="col">
          <label class="form-label">author:</label>
          {{ form.author }}
        </div>
        <div class="col">
          <label class="form-label">data:</label>
          {{ form.created }}
        </div>
        <div class="col">
          <label class="form-label">min:</label>
          {{ form.date1 }}
        </div>
        <div class="col">
          <label class="form-label">max:</label>
          {{ form.date2 }}
        </div>
        <div class="col-auto">
          <button class="btn btn-primary" type="submit">submit</button>
        </div>
      </div>
    </form>
  </div>
</div>


<div class="row justify-content-center mt-5 g-4">
  {% for post in posts %}
     <div class="col-12 col-md-6 col-lg-4">
        <div class="card h-100 shadow-sm border-0">
          <div class="card-body">
            <h3 class="card-title fw-bold">{{ post.author }}</h3>
            <h5 class="card-subtitle mb-2 text-muted">{{ post.title }}</h5>
            <p class="card-text">{{ post.text }}</p>
            <p>{{ post.published|date:"d.m.Y" }}</p>
          </div>
       </div>
     </div>
  {% endfor %}
</div>





{% endblock %}