{% extends 'base/base.html' %}

{% block style %}body {
background-color: #9de2ff;
}{% endblock %}

{% block content %}




<div class="row justify-content-center mt-5">
  {% for post in posts %}
     <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">{{ post.author }}</h3>
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.text }}</p>
            <a href="#" class="btn btn-primary">check all</a>
          </div>
       </div>
     </div>
  {% endfor %}
</div>





{% endblock %}