{% extends 'base/base.html' %}
{% load snfilters %}

{% block style %}body {
background-color: #9de2ff;
}{% endblock %}

{% block content %}
<div class="px-4 py-5">
  <div class="row d-flex justify-content-center">
    <div class="col col-md-9 col-lg-7 col-xl-6">
      <div class="card" style="border-radius: 15px;">
        <div class="card-body p-4">
          <div class="d-flex">
            <div class="flex-shrink-0">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                alt="Generic placeholder image" class="img-fluid" style="width: 180px; border-radius: 10px;">
            </div>
            <div class="flex-grow-1 ms-3">
              <h5 class="mb-1">{{ profile.owner }}</h5>
              <p class="mb-2 pb-1">Senior Journalist</p>
              <div class="d-flex justify-content-start rounded-3 p-2 mb-2 bg-body-tertiary">
                <div>
                  <p class="small text-muted mb-1">Articles</p>
                  <p class="mb-0">41</p>
                </div>
                <div class="px-3">
                  <p class="small text-muted mb-1">Followers</p>
                  <p class="mb-0">976</p>
                </div>
                <div>
                  <p class="small text-muted mb-1">Rating</p>
                  <p class="mb-0">8.5</p>
                </div>
              </div>
              <div class="d-flex pt-1">
                <form action="{% url 'sn:friendship' profile.owner.id %}" method="post">
                  {% csrf_token %}
                  {% if profile.owner|friends_check:request.user %}
                  <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary flex-grow-1 me-1">Remove friend</button>
                  {% else %}
                  <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary flex-grow-1 me-1">Add Friend</button>
                  {% endif %}
                </form>
                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary flex-grow-1 me-1">change</button>
                <form action="{% url 'sn:subscribe' profile.owner.id %}" method="post">
                    {% csrf_token %}
                    {% if profile.owner|follow_check:request.user %}
                    <button type="submit" class="btn btn-outline-primary flex-grow-1">Remove follow</button>
                    {% else %}
                    <button type="submit" class="btn btn-primary flex-grow-1">Follow</button>
                    {% endif %}
                <a href="{% url 'sn:friends_requests' %}" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary flex-grow-1 me-1">list</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% if request.user == profile.owner %}
<div class="px-4 py-500">
  <div class="row d-flex justify-content-center">
    <div class="col col-md-9 col-lg-7 col-xl-6">
      <div class="card" style="border-radius: 5px;">
        <div class="card-body p-4">
          <div class="d-flex">
            <div class="flex-shrink-0">
              <h2>Друзья</h2>
              <ul>
                {% for friendship in friends %}
                  {% if friendship.confirmed %}
                    <li>
                      {{ friendship.friend.username }}
                      <a href="{% url 'sn:delete_friend' friendship.id %}">Удалить из друзей</a>
                    </li>
                  {% endif %}
                {% empty %}
                  <li>У вас пока нет друзей.</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}


<div class="card" style="width: 18rem;">
  {% for post in posts %}
  <img src="..." class="card-img-top" alt="...">
  <div>
    <small class="text-secondary d-block">{{ post.author }}</small>
    {% if post.status == "published" %}
      <span class="badge bg-success">Опубликовано</span>
    {% elif post.status == "draft" %}
      <span class="badge bg-warning text-dark">Черновик</span>
    {% else %}
      <span class="badge bg-secondary">Неизвестно</span>
    {% endif %}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text">{{ post.text|slice:":15" }}{% if post.text|length > 15 %} {% endif %}</p>
    <p>{{ post.author }}</p>
    <a href="{% url 'sn:post_info' post.id %}" class="btn btn-primary">Check more</a>
  </div>
  {% endfor %}
</div>
{% endblock %}
